@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

@using  Microsoft.AspNetCore.Http;
@if (HttpContext.Session.GetString("GirisYapanEmail") == "b161210115@sakarya.edu.tr")
{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />