@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@using  Microsoft.AspNetCore.Http;
@if (HttpContext.Session.GetString("GirisYapanEmail") == "b161210115@sakarya.edu.tr")
{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

